body {
  padding: 20px;
  padding-bottom: 40px;
  font-family: 'Courier New', Courier, monospace;
  background-color: #27292c;
  color: white;
}

h1 {
  margin-top: 30px;
}

img {
  vertical-align: middle;
  width: 55px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(71, 155, 194, 0.37);
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list > li {
  cursor: pointer;
  margin-left: 50px;
  transition: 0.35s ease-in-out;
}

.nav-list > li:hover {
  transform: scale(1.15);
  color: yellow;
}

.mainUL {
  margin-top: 15px;
}

.mainUL > li {
  padding-block: 10px;
  margin: 0px;
}

.mainUL > li::marker {
  color: #61DAFB;
  font-size: 1.25rem;
}

main {
  height: 500px;
}

.footNotes { 
  position: fixed;
  bottom: 0;
  background-color: black;
  font-size: 1.2rem;
}